<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>addmovie</title>
</head>

<meta charset="utf-8"/>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>


<div th:replace="fragments/header1 :: header"/>

<div class="container">
    <h1>Tilføj film</h1>
    <form th:action="@{/add}" method="post">
        <div class="row">
            <div class="col-sm-8">

                <div class="form-group">
                    <label for="dropOperator">Add new movieshowing to movie</label>
                    <select class="form-control" id="dropOperator" name="addToMovie"
                            data-toggle="tooltip" data-placement="top" title="Add movieshowing" onchange="">
                        <option value="0" th:text="'Add new movie'"></option>
                        <option th:each="movie : ${movies}" th:value="${movie.getTitle()}"
                                th:text="${movie.getTitle()}"></option>
                    </select>
                </div>
                <div id="hiddenContent">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" th:required="false">
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre:</label>
                        <input type="text" class="form-control" id="genre" name="genre" th:required="false">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" id="description" rows="10" name="description" placeholder="..."
                                  style="resize: none" required="true" th:required="false"></textarea>
                    </div>
                </div>

                <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
                <p><img id="output" width="200" /></p>

                <script>
                    var loadFile = function(event) {
                        var image = document.getElementById('output');
                        image.src = URL.createObjectURL(event.target.files[0]);
                    };
                </script>


                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="date" name="startDate" class="form-control" required="required"
                           data-toggle="tooltip" data-placement="top" title="Angiv dato for film">
                </div>

                <div style="margin-bottom: 25px" class="input-group">

                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    <input type="time" name="startTime" class="form-control" required="required"
                               data-toggle="tooltip" data-placement="top" title="Angiv tidspunkt for film">
                </div>


                    <div class="form-group">
                        <div class="col-sm-12 controls">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-send"></span>
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>

    </form>
</div>

<script>
    $(document).ready(function(){
        $('#dropOperator').on('change', function() {
            if ( this.value == '0') {
                $("#hiddenContent").show();
            }
            else
            {
                $("#hiddenContent").hide();
            }
        });
    });


</script>

</body>
</html>