<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clockwork Orange</title>
</head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>

<h2>Clockwork Orange</h2>

<img src="http://www.gstatic.com/tv/thumb/v22vodart/1587/p1587_v_v8_aa.jpg"
     height="400" width="300"/></a>


<p>
    Mauris eu augue faucibus dolor rhoncus lobortis vitae sit amet leo.
    Nulla facilisi. Aenean et malesuada lorem. Pellentesque sodales, sapien at rhoncus pellentesque, mi nisl
    pellentesque nibh, sed lobortis turpis nibh nec ligula.
    Cras feugiat sit amet tellus laoreet viverra. Quisque fringilla tincidunt tortor, et euismod mi euismod ac.
    Etiam pellentesque vehicula orci, in maximus tortor porttitor in.
    Vivamus pharetra posuere risus, vitae vulputate dui facilisis vitae. Integer maximus consequat elit quis cursus.
    Duis volutpat lacinia odio ac tincidunt. Integer finibus leo nec magna venenatis, eu ultricies leo elementum.
</p>


</body>
</html>