<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hjem</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<head>
    <title>Hjem</title>
</head>
<body>

<div th:replace="fragments/header1 :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Nyt:</h1>
    </div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus aliquam magna id arcu consectetur pretium.
        Fusce consectetur dolor nec augue maximus laoreet.
        Praesent pulvinar lacinia libero, in venenatis elit rhoncus eget.
        Proin et vestibulum odio. Ut condimentum eget elit a scelerisque.
        Phasellus aliquam ex ut purus laoreet ultrices.
        Quisque sagittis nulla tellus, ut tempor elit consectetur non.
    </p>
    <p>




    </p>

    <center>
    <table>
        <tr>
            <th>    <a href="american">
                <img src="http://www.gstatic.com/tv/thumb/v22vodart/23514/p23514_v_v8_ab.jpg"
                     height="300" width="200"/></a></th>


            <th>    <a href="clockwork">
                <img src="http://www.gstatic.com/tv/thumb/v22vodart/1587/p1587_v_v8_aa.jpg"
                     height="300" width="200"/></a></th>

            <th>    <a href="eet">
                <img src="http://www.gstatic.com/tv/thumb/v22vodart/10998/p10998_v_v8_ah.jpg"
                     height="300" width="200"/></a></th>


            <th>        <a href="silencelambs">
                <img src="http://www.gstatic.com/tv/thumb/v22vodart/13013/p13013_v_v8_ac.jpg"
                     height="300" width="200"/></a></th>

        </tr>
        <tr>
            <td>American Beauty<br>Kl 12:00 <br> 2h 2m </td>
            <td>Clockwork Orange<br>Kl 13:00 <br> 2h 17m</td>
            <td>E.T<br>Kl 14:00 <br> 2h 1m </td>
            <td>Silence of the Lambs<br>Kl 14:15 <br>2h 18m</td>
        </tr>
        <tr>
            <th>    <a href="truman">
                <img src="https://resizing.flixster.com/1euG0DUzyKp959yYjF4g4_3WSmw=/206x305/v1.bTsxMTI5MDIyNDtqOzE3OTA1OzEyMDA7MjQzOTszMjUy"
                     height="300" width="200"/></a>  </th>


            <th>  <a href="truman">
                <img src="https://movieposters2.com/images/634831-b.jpg"
                     height="300" width="200"/></a>  </th>


            <th>  <a href="truman">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51B1ehfX4pL.jpg"
                     height="300" width="200"/></a> </th>

            <th>  <a href="truman">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81ghIqiMzuL._SY679_.jpg"
                     height="300" width="200"/></a>  </th>


        </tr>
        <tr>
                <td>THE TRUMAN SHOW <br>Kl 12:00 <br> 1h 43m </td>
            <td>THE PRESTIGE <br>Kl 13:00 <br> 2h 10m </td>
            <td>SHAWSHANK REDEMPTION<br>Kl 14:00 <br> 2h 22m</td>
            <td>RESEVOIR DOGS<br>Kl 14:15 <br> 1h 39m </td>
        </tr>




    </table>
    </center>
    <br>

    </p>







    
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>