<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hjem</title>

</head>
<body>
     <style>
     body {background-color: black;}
     </style>
    <div class="starter-template">
   <font color="red" >  <center>  <h1>Nyt:</h1>    </center>
    </div>

    <p>
<marquee direction="left">Velkommen til KinoXP, her kan du se hvilke film der spiller i øjeblikket </marquee>
<marquee direction="right">Velkommen til KinoXP, her kan du se hvilke film der spiller i øjeblikket </marquee>
<marquee direction="left">Velkommen til KinoXP, her kan du se hvilke film der spiller i øjeblikket </marquee>
<marquee direction="right">Velkommen til KinoXP, her kan du se hvilke film der spiller i øjeblikket </marquee>
<marquee direction="left">Velkommen til KinoXP, her kan du se hvilke film der spiller i øjeblikket </marquee>
<marquee direction="right">Velkommen til KinoXP, her kan du se hvilke film der spiller i øjeblikket </marquee>
<marquee direction="left">Velkommen til KinoXP, her kan du se hvilke film der spiller i øjeblikket </marquee>
</font> </p>
    <p>



  
    </p>

    <img src="https://www.movieartarena.com/imgs/bladerunner2049ff.jpg"
         height="400" width="300"/></a>

    <img src="https://i.ebayimg.com/images/g/8~QAAOSwyQtVoRQC/s-l300.jpg"
         height="400" width="300"/></a>

    <img src="https://static01.nyt.com/images/2017/09/15/arts/24movie-posters8/24movie-posters8-articleLarge.jpg"
         height="400" width="300"/></a>

    <img src="https://i.amz.mshcdn.com/4HixfLqPOYaPV-KvOGXywiLgXaI=/fit-in/1200x9600/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F263977%2FStephen-King-s-IT-by-Clay-Disarray-cdx_600.jpg"
         height="400" width="300"/></a>
    
</div>

</body>
</html>