<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hjem</title>

</head>
<body>



<div class="container">

    <div class="starter-template">
        <h1>Nyt:</h1>
    </div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus aliquam magna id arcu consectetur pretium.
        Fusce consectetur dolor nec augue maximus laoreet.
        Praesent pulvinar lacinia libero, in venenatis elit rhoncus eget.
        Proin et vestibulum odio. Ut condimentum eget elit a scelerisque.
        Phasellus aliquam ex ut purus laoreet ultrices.
        Quisque sagittis nulla tellus, ut tempor elit consectetur non.
    </p>
    <p>




    </p>

    <a href="american.html">
    <img src="http://www.gstatic.com/tv/thumb/v22vodart/23514/p23514_v_v8_ab.jpg"
         height="400" width="300"/></a>

    <a href="clockwork.html">
    <img src="http://www.gstatic.com/tv/thumb/v22vodart/1587/p1587_v_v8_aa.jpg"
         height="400" width="300"/></a>

    <a href="eet.html">
    <img src="http://www.gstatic.com/tv/thumb/v22vodart/10998/p10998_v_v8_ah.jpg"
         height="400" width="300"/></a>

    <a href="silencelambs.html">
    <img src="http://www.gstatic.com/tv/thumb/v22vodart/13013/p13013_v_v8_ac.jpg"
         height="400" width="300"/></a>

    <a href="truman.html">
    <img src="https://resizing.flixster.com/1euG0DUzyKp959yYjF4g4_3WSmw=/206x305/v1.bTsxMTI5MDIyNDtqOzE3OTA1OzEyMDA7MjQzOTszMjUy"
         height="400" width="300"/></a>
    
</div>

</body>
</html>